<div id="new-setup-form" class="center-form">
  <div class="form-text text-center">
    <h1>Edit Setup</h1>
  </div>

  {{stage-layout-form
    stage-layout=model
    submitButtonText='Update Layout'
    formSubmittedSuccessfully='setupUpdated'
  }}
</div>