<div class="page-header">
  <h1>{{model.kind}}</h1>
</div>

<div class="col-lg-4 col-sm-12 col-lg-push-8">
  {{instrument-form instrument=model}}
</div>

<div class="col-lg-8 col-sm-12 col-lg-pull-4">
  {{kamaete-stage instrument=model}}
</div>
