<div class="page-header">
  <h1>{{model.kind}}</h1>
</div>

<div class="col-sm-4 col-xs-12 col-sm-push-8">
  {{instrument-form instrument=model}}
</div>

<div class="col-sm-8 col-xs-12 col-sm-pull-4">
  {{kamaete-stage instrument=model}}
</div>
