<paper-card class="performance-card" image={{performance.imageURL}}>
  <div class="card-content">
    {{#link-to 'performances.show' performance class='card-header'}}
      {{performance.title}}
    {{/link-to}}

    <div class="performance-details">
      <p>{{performance.formattedDate}}</p>
    </div>
  </div>
  <div class="card-actions">
    {{#link-to 'performances.edit' performance}}
      <paper-button raised>Edit</paper-button>
    {{/link-to}}
    <paper-button {{action "delete" bubbles=false}}>Delete</paper-button>
  </div>
</paper-card>