<div id="new-setup-form" class="center-form">
  <div class="form-text text-center">
    <h1>Edit Setup</h1>
  </div>

  {{setup-form
    setup=model
    submitButtonText='Update Setup'
    formSubmittedSuccessfully='setupUpdated'
  }}
</div>