<div id="new-setup-form" class="center-form">
  <div class="form-text text-center">
    <h1>New Setup</h1>
  </div>

  {{setup-form
    formSubmittedSuccessfully='setupCreated'
    setup=model
    submitButtonText="Create Setup"
  }}
</div>