.btn-icon {
  background: none;
  border: 0;
  color: $gray-lighter;

  &:hover {
    color: darken($gray-lighter, 25%);
  }
}

paper-fab {
  bottom: 3%;
  position: fixed;
  right: 5%;
  z-index: 100;
}
