.instrument-card {
  display: flex;
  height: 100px;
  margin-bottom: 30px;
  width: 100%;

  .instrument-image {
    background: $gray-lighter;
    height: 100px;
    padding: 20px;
    width: 100px;

    svg {
      height: 60px;
      width: 60px;
    }
  }

  .card-content {
    flex: 1 auto;
    font-size: 20px;
    overflow: hidden;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
