.form-text {
  margin-bottom: 20px;

  p {
    font-size: 20px;
  }
}

.center-form {
  margin: auto;
  max-width: 600px;

  &#login-form {
    max-width: 500px;
  }
}

.header-input {
  margin-bottom: 30px;

  input {
    font-size: 40px !important;
  }
}
