.form-text {
  margin-bottom: 20px;

  p {
    font-size: 20px;
  }
}

.center-form {
  margin: auto;
  max-width: 600px;

  &#login-form {
    max-width: 500px;
  }
}

.has-error {
  ::-webkit-input-placeholder {
    color: $placeholder-error-color;
  }

  :-moz-placeholder {
    // Firefox 18-
    color: $placeholder-error-color;
  }

  ::-moz-placeholder {
    // Firefox 19+
    color: $placeholder-error-color;
  }

  :-ms-input-placeholder {
    color: $placeholder-error-color;
  }
}
