.performance-members {
  .performance-member:after {
    content: ', ';
    margin-left: -3px;
  }

  .performance-member:last-of-type:after {
    content: '';
  }

  .performance-member:last-of-type:before {
    content: 'and ';
  }

  .performance-member:first-of-type:before {
    content: '';
  }
}
