.performance-members {
  .performance-member:after {
    content: ', ';
    margin-left: -3px;
  }

  .performance-member:last-of-type:after {
    content: '';
  }

  .performance-member:last-of-type:before {
    content: 'and ';
  }

  .performance-member:first-of-type:before {
    content: '';
  }
}

.performance-card {
  margin-bottom: 30px;
  width: 100%;

  .card-header {
    font-size: 20px;
  }

  .performance-details * {
    font-size: 18px;
  }
}
