p {
  font-size: $font-size-large;
}

h1,
h2 {
  font-weight: 600;
}

.brand-font {
  color: $brand-color;
  font-family: $brand-font;
  font-size: 115%;

  &.navbar-brand {
    font-size: 200%;
  }
}
