<div id="new-performance-form" class="center-form">
  <div class="form-text text-center">
    <h1>Edit Performance</h1>
    <p>Enter the new information for this performance.</p>
  </div>

  {{performance-form
    performance=model
    members=members
    title=model.title
    date=model.date
    selectedMembers=model.members
    submitButtonText='Update Performance'
    formSubmittedSuccessfully='viewPerformance'
  }}
</div>