<div id="new-setup-form" class="center-form">
  <div class="form-text text-center">
    <h1>New Layout</h1>
  </div>

  {{stage-layout-form
    formSubmittedSuccessfully='setupCreated'
    stage-layout=model
    submitButtonText="Create Layout"
  }}
</div>